.toggle {
	cursor: pointer;
	bottom: 20px;
	position: fixed;
	right: 20px;
	border-radius: 50%;
	padding: 8px;
	z-index: 9999;
	background-color: var(--toogle-bg);

	&:hover {
		background-color: var(--toggle-hover-bg);
		transition-property: background-color;
		transition-duration: 0.2s;
		transition-timing-function: linear;
	}
}
